body {
  margin: 0px;
  padding: 0px;
  background-color: bisque;
}

.image {
  width: 50px;
  height: auto;
}

.overallLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ScoreBoard {
  display: flex;
  gap: 51px;
  justify-content: center;
}

.GameBoard {
  display: flex;
  gap: 51px;
  justify-content: center;
}

.Computer {
  display: flex;
  flex-direction: column;
  border: 5px dashed red;
}

.Player {
  display: flex;
  flex-direction: column;
  border: 5px dashed blue;
}

.vs {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected {
  border: 5px solid blue;
}

.selectedComputer {
  border: 5px solid red;
}

.PlayerName {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}

.result {
  font-size: 18px;
}

.actionButton {
  margin: 30px 0px 0px 0px;
  width: 480px;
}
